

/*
[rewrite_local]



^https:\/\/app.jjwxc.net\/iosapi\/chapterContent* url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/jjwxc/jjwxc1.js












[mitm]

hostname= app.jjwxc.net

**/

