


/*
[rewrite_local]


^https://jxlmcn.leniu.com/game/user/getZone url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/jlsy/jlsy1.js










[mitm]

hostname=jxlmcn.leniu.com

**/
