

/*
[rewrite_local]



^http:\/\/api2.pcloud.top\/1\/class\/T_USER_RESOURCE\/* url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/jsqxz/jsqxz1.js












[mitm]

hostname= api2.pcloud.top

**/

