

/*
[rewrite_local]



^https://api2.pcloud.top/1/classes/T_USER_RESOURCE/63625175b8* url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/jsqxz/jsqxz1.js

^https://api2.pcloud.top/1/classes/T_ROLE_PK_STS_TABLE* url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/jsqxz/jsqxz2.js












[mitm]

hostname=api2.pcloud.top

**/

