

/*
[rewrite_local]



^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/usergameinfo\/LoadUserInfo url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc30.js











[mitm]

hostname= 47.111.163.35

**/

