

/*
[rewrite_local]


^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/usergameinfo\/Login url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc1.js

^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/sfzauth\/dataUpload_u8 url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc2.js

^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/usergameinfo\/UserPrepareData url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc3.js

^http:\/\/47.111.163.35\/checkmore4.php url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc4.js

^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/usergameinfo\/LoadUserInfo url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc5.js

^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/usergameinfo\/LoadHeroInfo*heroindex\=8 url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc6.js
^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/usergameinfo\/LoadHeroInfo*heroindex\=9 url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc7.js
^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/usergameinfo\/LoadHeroInfo*heroindex\=11 url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc8.js
^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/usergameinfo\/LoadHeroInfo*heroindex\=14 url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc9.js
^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/usergameinfo\/LoadHeroInfo*heroindex\=16 url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc10.js


^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/usergameinfo\/LoadBag*pid\=0\&bagtype\=1 url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc11.js












[mitm]

hostname= 47.111.163.35

**/

