

/*
[rewrite_local]


^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/usergameinfo\/Login url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc1.js

^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/sfzauth\/dataUpload_u8 url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc2.js

^http:\/\/47.111.163.35\/rpgServer\/public\/index.php\/index\/usergameinfo\/UserPrepareData url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/lszc/lszc3.js











[mitm]

hostname= 47.111.163.35

**/

