

/*
[rewrite_local]


^https:\/\/xapi.xinmanhua.net\/chapters\/.*\/isreadable url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/xinmanhua/xmh.js


^https://xapi.xinmanhua.net/purchase/chap url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/xinmanhua/xmh1.js









[mitm]

hostname= xapi.xinmanhua.net

**/

