
    # 重写规则配置片段包含若干条重写规则，并可以包含若干作用于 MitM 的主机名；可通过资源引用的方式使用。
        # 片段文件将保存在 Quantumult X 目录下的 Profiles 子目录中。
        # 样例可参见 https://raw.githubusercontent.com/crossutility/Quantumult-X/master/sample-import-rewrite.snippet
        ;^http://example.com/resource1/4/ url reject-dict

/*
[rewrite_local]


//^https:\/\/api.zhihu.com\/bazaar\/vip_tab\/header\?downgradable\=1\&user_mode\=full* url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/zhihu/zh.js
//
//^https:\/\/api.zhihu.com\/bazaar\/mine\/personal_v2* url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/zhihu/zh1.js
//
//^https:\/\/api.zhihu.com\/market\/people\/self\?subscriptions_only\=1\&with_fields\=is_new* url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/zhihu/zh2.js
//
//^https:\/\/api.zhihu.com\/bazaar\/people\/self* url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/zhihu/zh3.js
//
//^https:\/\/api.zhihu.com\/market\/svip_note\/paid_column* url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/zhihu/zh4.js



^https://api.zhihu.com/order/v1/trade/deal url script-response-body https://raw.githubusercontent.com/hzy510347572/repo1/branch1/wind-fire-thunder-lightning/script/zhihu/zh9.js







[mitm]


**/

